<div class="container-fluid">
    <div class="other-post-activity-card">
        <div class="other-post-activity-card-title">
            <p>سایر فعالیت ها</p>
        </div>
        <div class="other-post-activity-card-body">
            <form id="other-post-activity" action="javascript:void(0)" method="post">
                <div class="row">
                    <div class="col-12 col-md-11">
                        <textarea rows="1"></textarea>
                    </div>
                    <div class="col-12 col-md-1">
                        <button type="submit" class="btn-sm btn-success">ثبت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-9">
            <div class="post-activities">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="post-activity bg-blue">
                            <p>صدور / ابطال فرم اجازه کار</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>یادداشت ساعت وقوع حادثه</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>اطلاع / هماهنگی با دیسپاچینگ فوق توزیع</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>یادداشت مقادیر توان اکتیو و راکتیو قبل از قطع و بعد از وصل</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>بازید از محل کار</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>صدور / ابطال فرم اجازه کار بدون نقاط تضمین</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>بازدید تجهیز حادثه دیده</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>اطلاع / هماهنگی با دیسپاچینگ توزیع</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>اطمینان از بی برقی تجهیزات بوسیله آمپرمتر، ولت متر، اپرومتر</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>تکمیل فرم ترتیب اجرای عملیات</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity bg-yellow">
                            <p>صدور / ابطال فرم اجازه کار و آزمایش</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>یادداشت کلیه آلارمهای ظاهر شده</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>اطلاع / هماهنگی با دیسپاچینگ انتقال</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>نظارت بر محصور کردن محیط کار</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>تکمیل واعلام فرم گزارش نقص</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>صدور / ابطال فرم تضمین نامه ایستگاه</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>تکمیل فرم گزارش قطع</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>اطلاع / هماهنگی با دیسپاچینگ ملی</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>بازدید از محوطه یا فیدرخانه</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>اتمام کار و لغو توسط مجری</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity bg-orange">
                            <p>صدور / ابطال فرم ضمانت نامه / ضمانت نامه اضطراری</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="post-activity">
                            <p>بازید از تیغه های سکسیونر و اطمینان از باز / بسته بودن</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-3">
            <div class="side-post-activities">
                <div class="row">
                    <div class="col-12">
                        <div class="side-post-activity-card">
                            <div class="side-post-activity-card-title">
                                <p>ارت موقت</p>
                            </div>
                            <div class="side-post-activity-card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="javascript:void(0)" class="btn-sm btn-primary d-block text-center" role="button">نصب</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="javascript:void(0)" class="btn-sm btn-primary d-block text-center disabled" role="button" aria-disabled="true">جمع آوری</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>تعداد ست تحویلی</p>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="side-post-activity-card">
                            <div class="side-post-activity-card-title">
                                <p>نوار ایمنی</p>
                            </div>
                            <div class="side-post-activity-card-body">
                                <form id="safety-bar" action="javascript:void(0)" method="post">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="side-post-activity-option">
                                                <input type="radio" name="safetyBar" id="installation">
                                                <label for="installation">نصب</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="side-post-activity-option">
                                                <input type="radio" name="safetyBar" id="collection" checked>
                                                <label for="collection">جمع آوری</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="side-post-activity-card">
                            <div class="side-post-activity-card-title">
                                <p>کلید AC تپ چنجر و فن ترانس</p>
                            </div>
                            <div class="side-post-activity-card-body">
                                <form id="ac-key" action="javascript:void(0)" method="post">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="side-post-activity-option">
                                                <input type="radio" name="acKey" id="connected-ac" checked>
                                                <label for="connected-ac">وصل</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="side-post-activity-option">
                                                <input type="radio" name="acKey" id="disconnected-ac">
                                                <label for="disconnected-ac">قطع</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="side-post-activity-card">
                            <div class="side-post-activity-card-title">
                                <p>کلید فیوز تغذیه داخلی</p>
                            </div>
                            <div class="side-post-activity-card-body">
                                <form id="power-key" action="javascript:void(0)" method="post">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="side-post-activity-option">
                                                <input type="radio" name="powerKey" id="connected-power" checked>
                                                <label for="connected-power">وصل</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="side-post-activity-option">
                                                <input type="radio" name="powerKey" id="disconnected-power">
                                                <label for="disconnected-power">قطع</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>