@model ElectricalEmulator.Application.ViewModels.Accounts.ChangePasswordViewModel

<form asp-action="ChangePassword" method="post" id="modal-form">
    <div class="form-group">
        <label asp-for="CurrentPassword" class="col-form-label"></label>
        <input asp-for="CurrentPassword" class="form-control">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-form-label"></label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="col-form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control">
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
    <button type="submit" class="btn btn-primary">ثبت</button>
</form>

<partial name="_ValidationScriptsPartial" />