<section id="interlock-modal">
    <div class="interlock-modal-content">
        <div class="interlock-modal-heading">
            <span class="close-interlock-modal" onclick="closeInterlockModal()">&times;</span>
        </div>
        <div id="interlock-modal-body"></div>
    </div>
</section>